langchain_community 
langchainhub 
langchain 
langgraph  
tavily-python
python-dotenv
langchain-google-genai
langchain-groq
langchain-text-splitters
langchain_huggingface
pinecone
langchain-pinecone
pydantic
langchain-experimental
fastapi
uvicorn
Pillow
jinja2
python-multipart
sentence-transformers